code { /* Code Blocks */
    background: #2c292d !important;
}
.o { /* Operators */
    color: #F92672;
}
.p { /* Brackets */
    color: whitesmoke;
}
.k { /* Function */
    color: #78dce8;
    font-style: italic;
}
.kd { /* Declarations */
    color: #66D9EF;
    font-style: italic;
}
.kr { /* eval? */
    color: #A6E22E;
}
.nf { /* Function Name */
    color: #F92672;
}
.na { /* Identifier */
    color: whitesmoke;
}
.nb { /* Function Names */
    color: #ff6188;
}
.no { /* # */
    color: #a9dc76;
}
.nv { /* Function Variable */
    color: #fc9867;
}
.nx { /* Paremeters */
    color: #FD971F;
    font-style: italic;
}
.s, .s2 { /* String */
    color: #ffd866;
}
.mi, .mf { /* Numberic */
    color: #ab9df2;
}
.c1, .cm /* Multi */ { /* Comments */
    color: #75715E;
}
