* {
	color:whitesmoke;
	text-align:center;
	font-family:Comic Sans MS;
	text-shadow:-2px 2px 2px black;
}
body {
	background:#2f2f2f;
}
#potato {
	top:10%;
	left:30%;
	width:40%;
	height:90%;
	z-index:-1;
	position:absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.menu {
	top:0;
	left:0;
	width:100%;
	position:absolute;
	border-bottom:thin solid #222;
	box-shadow:2px 2px 5px black;
}
.menu li {
	width:25%;
	height:100%;
	background:#333;
}

.active {
    background-color:dodgerblue;
}
.cv {
	top:15%;
	left:5%;
	width:90%;
	height:50%;
	background:#333;
	position:absolute;
}
