@-webkit-keyframes bounce {
    from { left: 100px; bottom: 300px; height: 150px; }
    10% { left: 150px; bottom: 0px; height: 50px; }
    20% { left: 200px; bottom: 250px; height: 140px; }
    30% { left: 250px; bottom: 0px; height: 60px; }
    40% { left: 300px; bottom: 200px; height: 130px; }
    50% { left: 350px; bottom: 0px; height: 70px; }
    60% { left: 400px; bottom: 150px; height: 120px; }
    70% { left: 450px; bottom: 0px; height: 80px; }
    80% { left: 500px; bottom: 100px; height: 110px; }
    90% { left: 550px; bottom: 0px; height: 90px; }
    100% { left: 600px; bottom: 50px; height: 100px; }
}
* {
	color:whitesmoke;
	text-align:center;
	font-family:Comic Sans MS;
	text-shadow:-2px 2px 2px black;
}
body {
	background:#2f2f2f;
}
#potato {
	top:10%;
	left:30%;
	width:40%;
	height:90%;
	z-index:-1;
	position:absolute;
	animation:bounce 2s infinite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.menu {
	top:0;
	left:0;
	width:100%;
	position:absolute;
	border-bottom:thin solid #222;
	box-shadow:2px 2px 5px black;
}
.menu li {
	width:25%;
	height:100%;
	background:#333;
}
.active {
    background-color:dodgerblue;
}
.cv {
	top:15%;
	left:5%;
	width:90%;
	height:50%;
	background:#333;
	position:absolute;
}
