* {
	color:whitesmoke;
	text-align:center;
	font-family:Comic Sans MS;
	text-shadow:-2px 2px 2px black;
}
body {
	background:#2f2f2f;
}
#potato {
	top:5%;
	left:30%;
	width:40%;
	height:90%;
	z-index:-1;
	position:absolute;
}
.menu {
	top:0;
	left:0;
	width:100%;
	position:absolute;
	display:inline-block;
	border-bottom:thin solid #222;
	box-shadow:2px 2px 5px black;
}
.menu li {
	padding:10px;
	height:100%;
	width:25%;
	background:#333;
	border-right:1px solid #bbb;
	box-shadow:2px 2px 5px black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}

li {
    float: left;
    border-right:1px solid #bbb;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:dodgerblue;
}
.cv {
	top:15%;
	left:5%;
	width:90%;
	height:50%;
	background:#333;
	position:absolute;
}
