
@keyframes bounce {
        0%   {
		translateY(0);
		transform: scale(1,1)
	}
        10%  {
		translateY(0);
		transform: scale(1.1,.9)
	}
        30%  {
		translateY(-100px);
		transform: scale(.9,1.1)
	}
        50%  {
		translateY(0);
		transform: scale(1.05,.95)
	}
        57%  {
		translateY(-7px);
		transform: scale(1,1)
	}
        64%  {
		translateY(0);
		transform: scale(1,1)
	}
        100% {
		translateY(0);
		transform: scale(1,1)
	}
}
* {
	color:whitesmoke;
	text-align:center;
	font-family:Comic Sans MS;
	text-shadow:-2px 2px 2px black;
}
body {
	background:#2f2f2f;
}
#potato {
	left:30%;
	bottom:0;
	width:40%;
	height:90%;
	z-index:-1;
	position:absolute;
	animation:bounce 1.5s infinite;
}
.posts span {
	border-bottom:thin solid whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.menu {
	top:0;
	left:0;
	width:100%;
	position:fixed;
	border-bottom:thin solid #222;
	box-shadow:2px 2px 5px black;
}
.menu li {
	width:25%;
	height:100%;
	background:#333;
}
.active {
    background-color:dodgerblue;
}
.cv {
	top:15%;
	left:5%;
	width:90%;
	height:50%;
	background:#333;
	position:absolute;
}
@media only screen and (orientation: portrait) {
	#potato {
		left:0;
		width:100%;
	}
}
