code {
    color: whitesmoke;
    padding: 10px;
    min-width: 90%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    background: #2f2f2f;
    border-radius: 10px;
    white-space: pre;
    overflow: scroll;
    text-shadow: none;
    text-align: left;
    border: thin solid whitesmoke;
    font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace !important;
}
.o { /* Operators */
    color: #F92672;
}
.p { /* Brackets */
    color: whitesmoke;
}
.k { /* Type */
    color: #F92672;
}
.kd { /* Declarations */
    color: #66D9EF;
    font-style: italic;
}
.kr { /* eval? */
    color: #A6E22E;
}
.nf { /* Function Name */
    color: steelblue;
}
.na { /* Identifier */
    color: whitesmoke;
}
.nb { /* Function Names */
    color: #A6E22E;
}
.no { /* # */
    color: steelblue;
}
.nv { /* Function Domain */
    color: steelblue;
}
.nx { /* Paremeters */
    color: #FD971F;
    font-style: italic;
}
.s, .s2 { /* String */
    color: #E6DB74;
}
.mi { /* Numberic */
    color: #AE81FF;
}
.c1, .cm { /* Comments */
    color: #75715E;
}

@media only screen and (max-width: 600px) {
    code {
        font-size: 75%;
    }
}
