* {
	color:whitesmoke;
	text-align:center;
	font-family:Comic Sans MS;
}
body {
	background-color:#2f2f2f;
	background-repeat:inherit;
	background-image:url("https://t5.rbxcdn.com/a40183d08aeb6889e14827b404a5c5a4");
}
