<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>
        <link rel="icon" href="/Potato.png">
        <script src="/script.js"></script>
    </head>
    <body>
        <div class="container">
            <br><br>
            
            {{ content }}
            
        </div><!-- /.container -->
        <footer>
            <li><a href="mailto:lemueld6200@afsenyc.org">Email Me</a></li>
            <li><a href="https://github.com/lemueld6200/">Vist My Github</a></li>
        </footer>
    </body>
</html>
