---
layout: default
notes: active
comments: true
# other options
---

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<div class="post">
	<nav>
		<ul class="menu">
			<li><a class="fa fa-home" href="/"> Home</a></li>
        	    	<li><a class="fa fa-book" href="/blog"> Blog</a></li>
        	    	<li><a class="fa fa-info" href="/about"> About</a></li>
        	    	<li><a class="fa fa-id-badge" href="/cv"> CV</a></li>
		</ul>
</nav>
</div>
<div class="notes">
		<div class="note single">
			<h1 class="title">{{ page.title }}</h1>
			
			<h2 class="date"><info datetime="{{ page.date }}">
				{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
			</info></h2>
			<br><br>
			<!-- Post content -->
			<div class="notebody">
				{{ content }}
			</div>
			<!-- Post info -->
			<div class="noteinfo">
				<!-- Categories -->
			</div>

			<hr>

			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}	 
			</div>
		</div><!-- / .note .single -->
</div><!-- /.notes -->
